@import url(https://fonts.googleapis.com/css?family=Montserrat);

* {
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    display: flex; /*Splits the logo and nav items apart*/
    justify-content: space-around; /*Adds space between the logo and nav items*/
    align-items: center; /*Center aligns the logo and nav items*/
    padding-right: 20px; /*Adds padding to the right side of the navbar*/
    height: 50px; /*Sets the height of the navbar*/
    top: 0;
    position: fixed;
    width: 100%;
}

body {
    margin: 0 auto; 
    background: linear-gradient(to right,#159957,#155799);
}

a {
    position: relative;
    margin-left: 20px; /*Increase the left side margin size of the nav items*/
    text-align: center; /*Center aligns the text of the nav items*/
    padding: 5px; /*Adds padding to all sides of the nav items*/
    color: white; /*Sets the font color of the nav items*/
    text-decoration: none; /*Removes text decoration of the nav items like underline*/
    font-weight: 800;
}

a::after {
    content: "";
    position: absolute;
    background-color: black;
    height: 3px;
    width: 0;
    left: 0;
    bottom: 0px;
    transition: 0.3s;
}

a:hover {
    color: black;
}

a:hover::after{
    width: 100%;
}

.logo {
    color: white; /*Sets the font color of the logo in the navbar*/
    font-size: 20px; /*Sets the font size of the logo in the navbar*/
    font-weight: 800; /*Sets the boldness of the logo in the navbar*/
}

ul {
    display: flex; /*Splits the nav items evenly*/
    align-items: center; /*Centers the nav items horizontally*/
}

footer {
    background-color: gray; /*Sets the background color of the footer*/
    position: fixed; /*Fixes the footer to the bottom when scrolling*/
    bottom: 0; /*Position the footer to the bottom of the page*/
    width: 100%; /*Sets the width of the footer to always cover the occupied space*/
    color: white; /*Sets the font color of the footer*/
    text-align: center; /*Center aligns the text of the footer*/
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center; /* Vertically center the children */
    height: 100vh;
    z-index: 2;
}

.main-content-section-one {
    padding-left: 60px;
    padding-right: 60px;
    font-size: 50px;
    width: 768px;
    background-color: rgb(226, 226, 226);
    box-shadow: 10px 10px;
}

.main-content-name, .main-content-description {
    animation: fade-down 2s;
}

.custom-btn {
    width: 160px;
    height: 60px;
    font-size: 25px;
    color: white;
    background-color: dodgerblue;
    border: 0px;
}

.custom-btn:hover {
    background-color: #155799;
    transition: 0.3s;
}

.objects {
    background: linear-gradient(to right,#159957,#155799);
    width: 100%;
    height: 100vh;
}

.box {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
    overflow: hidden;
    margin-top: 50px;
}

.box li {
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 20s linear infinite;
    bottom: -150px;
    border-radius: 50%;
}

.box li:nth-child(1) {
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.box li:nth-child(2) {
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
}

.box li:nth-child(3) {
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 5.5s;
}

.box li:nth-child(4) {
    left: 45%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 15s;
}

.box li:nth-child(5) {
    left: 15%;
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;
}

.drop-btn {
    width: 30px;
    height: 30px;
    display: none;
}

@media (max-width: 720px) {
    a {
        display: none;
    }

    .logo {
        font-size: 25px;
    }

    .navbar {
        align-items: center;
    }

    footer {
        font-size: 15px;
    }

    .drop-btn {
        display: block;
        width: 40px;
        height: 40px;
    }

    .main-content {
        height: 100vh;
    }

    .main-content-section-one {
        margin-left: 20px;
        margin-right: 20px;
    }

    .main-content-name, .main-content-description {
        font-size: 29px;
    }

    .custom-btn {
        width: 130px;
        height: 50px;
        font-size: 20px;
    }
}

@keyframes fade-down {
    0% {
        opacity: 0;
        transform: translateY(-50px) scale(1);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@keyframes animate {
    0% {
        transform: translateY(0) scale(0);
    }

    100% {
        transform: translateY(-800px) scale(2);
        opacity: 0;
    }
}