@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*Settings for all the elements*/
* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

 /* For mobile phones: */
 [class*="col-"] {
    width: 100%;
}

/*Body element setings*/
body {
  background-color: #474f55;
}

/*Settings for element with 'logo' class*/
.logo {
  text-decoration: none;
  color: white;
}

/*Settings for all buttons in the body element*/
.custom-btn {
  padding: 20px;
  color: white;
  background-color: #2980b9;
  border: 0px;
  font-weight: 800;
}

/*Hover settings for all buttons in the body element*/
.custom-btn:hover {
  background-color: #155799;
  transition: 0.3s;
}

/*Settings for the navbar*/
.navbar {
  background-color: #474f55;
  top: 0;
  position: fixed;
  color: white;
  border-bottom: 2px solid white;
  font-weight: 800;
}

.navbar-items-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
}

/*Disables desktop nav links on mobile screens*/
.nav-link {
  display: none;
}

/*Settings for the footer element*/
.footer {
  text-align: center;
  bottom: 0;
  position: fixed;
  background-color: lightblue;
  font-size: 14px;
}

/*Settings for the menu-icon on mobile screens*/
.menu-icon {
  width: 30px;
  height: 30px;
}

/*Settings for the desktop nav links*/
.nav-link {
  position: relative;
  margin-left: 20px; /*Increase the left side margin size of the nav items*/
  text-align: center; /*Center aligns the text of the nav items*/
  padding: 5px; /*Adds padding to all sides of the nav items*/
  color: white; /*Sets the font color of the nav items*/
  text-decoration: none; /*Removes text decoration of the nav items like underline*/
  font-weight: 800;
}

.nav-link::after {
  content: "";
  position: absolute;
  background-color: #61c0ff;
  height: 3px;
  width: 0;
  left: 0;
  bottom: 0px;
  transition: 0.3s;
}

.nav-link:hover {
  color: #61c0ff;
}

.nav-link:hover::after{
  width: 100%;
}

.main-content {
  font-size: 25px;
  margin-top: 65px;
  margin-bottom: 50px;
  color: white;
  font-weight: 800;
  animation: fade-up 2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content-section-one {
  max-width: 1200px;
}

.project-container-image {
  display: none;
}

.dropbtn {
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
  height: 30px;
  width: 30px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980b9;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
  margin-top: 16px;
}

.contact-container {
  display: flex;
  align-items: center;
  font-size: 15px;
}

.contact-image {
  height: 70px;
  width: 70px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown menu on hover */
.dropdown:hover .dropbtn {
  background-color: #2980b9;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.box {
  position: fixed;
  top: 2%;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}

.box li {
  position: absolute;
  display: block;
  list-style: none;
  width: 25px;
  height: 25px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 20s linear infinite;
  bottom: -150px;
  border-radius: 50%;
}

.box li:nth-child(1) {
  left: 86%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.box li:nth-child(2) {
  left: 12%;
  width: 30px;
  height: 30px;
  animation-delay: 1.5s;
  animation-duration: 10s;
}

.box li:nth-child(3) {
  left: 70%;
  width: 100px;
  height: 100px;
  animation-delay: 5.5s;
}

.box li:nth-child(4) {
  left: 45%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 15s;
}

.box li:nth-child(5) {
  left: 15%;
  width: 110px;
  height: 110px;
  animation-delay: 3.5s;
}

@keyframes animate {
  0% {
      transform: translateY(0) scale(0);
  }

  100% {
      transform: translateY(-1000px) scale(2);
      opacity: 0;
  }
}

@keyframes fade-up {
  0% {
      opacity: 0;
      transform: translateY(50px) scale(1);
  }

  100% {
      opacity: 1;
      transform: translateY(0px) scale(1);
  }
}
  
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}

   /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    .nav-link {
      display: inline;
    }

    .menu-icon {
      display: none;
    }

    .main-content {
      margin-top: 50px;
    }

    .project-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .project-container-description {
      width: 100%;
    }

    .project-image {
      height: 200px;
    }

    .project-container-image {
      display: block;
    }

    .languages-and-frameworks {
      display: flex;
      justify-content: space-evenly;
    }

    .contact-image {
      height: 100px;
      width: 100px;
    }

    .contact-container {
      font-size: 25px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 900px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1500px) {
  @keyframes animate {
    0% {
        transform: translateY(0) scale(0);
    }
  
    100% {
        transform: translateY(-1300px) scale(2);
        opacity: 0;
    }
  }
}